<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.SysDictMapper">

	<resultMap id="sysDictMap" type="com.pig4cloud.pigx.admin.api.entity.SysDict">
		<id property="id" column="id"/>
		<result property="value" column="value"/>
		<result property="label" column="label"/>
		<result property="type" column="type"/>
		<result property="description" column="description"/>
		<result property="sort" column="sort"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="remarks" column="remarks"/>
		<result property="delFlag" column="del_flag"/>
	</resultMap>

	<!--sysDict简单分页查询-->
	<select id="getSysDictPage" resultMap="sysDictMap">
		SELECT
		id,
		`value`,
		label,
		`type`,
		description,
		sort,
		create_time,
		update_time,
		remarks,
		del_flag
		FROM sys_dict
		<where>
			<if test="sysDict.id!=null and sysDict.id.trim() != ''">
				AND id = #{sysDict.id}
			</if>
			<if test="sysDict.value!=null and sysDict.value.trim() != ''">
				AND value = #{sysDict.value}
			</if>
			<if test="sysDict.label!=null and sysDict.label.trim() != ''">
				AND label = #{sysDict.label}
			</if>
			<if test="sysDict.type!=null and sysDict.type.trim() != ''">
				AND type = #{sysDict.type}
			</if>
			<if test="sysDict.description!=null and sysDict.description.trim() != ''">
				AND description = #{sysDict.description}
			</if>
			<if test="sysDict.sort!=null and sysDict.sort.trim() != ''">
				AND sort = #{sysDict.sort}
			</if>
			<if test="sysDict.createTime!=null and sysDict.createTime.trim() != ''">
				AND create_time = #{sysDict.createTime}
			</if>
			<if test="sysDict.updateTime!=null and sysDict.updateTime.trim() != ''">
				AND update_time = #{sysDict.updateTime}
			</if>
			<if test="sysDict.remarks!=null and sysDict.remarks.trim() != ''">
				AND remarks = #{sysDict.remarks}
			</if>
			<if test="sysDict.delFlag!=null and sysDict.delFlag.trim() != ''">
				AND del_flag = #{sysDict.delFlag}
			</if>
		</where>
	</select>


</mapper>
