<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.SysOauthClientDetailsMapper">

	<resultMap id="sysOauthClientDetailsMap" type="com.pig4cloud.pigx.admin.api.entity.SysOauthClientDetails">
		<id property="clientId" column="client_id"/>
		<result property="resourceIds" column="resource_ids"/>
		<result property="clientSecret" column="client_secret"/>
		<result property="scope" column="scope"/>
		<result property="authorizedGrantTypes" column="authorized_grant_types"/>
		<result property="webServerRedirectUri" column="web_server_redirect_uri"/>
		<result property="authorities" column="authorities"/>
		<result property="accessTokenValidity" column="access_token_validity"/>
		<result property="refreshTokenValidity" column="refresh_token_validity"/>
		<result property="additionalInformation" column="additional_information"/>
		<result property="autoapprove" column="autoapprove"/>
	</resultMap>

	<!--sysOauthClientDetails简单分页查询-->
	<select id="getSysOauthClientDetailsPage" resultMap="sysOauthClientDetailsMap">
		SELECT
		client_id,
		resource_ids,
		client_secret,
		scope,
		authorized_grant_types,
		web_server_redirect_uri,
		authorities,
		access_token_validity,
		refresh_token_validity,
		additional_information,
		autoapprove
		FROM sys_oauth_client_details
		<where>
			<if test="sysOauthClientDetails.clientId != null and sysOauthClientDetails.clientId != ''">
				AND client_id = #{sysOauthClientDetails.clientId}
			</if>
			<if test="sysOauthClientDetails.resourceIds != null and sysOauthClientDetails.resourceIds != ''">
				AND resource_ids = #{sysOauthClientDetails.resourceIds}
			</if>
			<if test="sysOauthClientDetails.clientSecret != null and sysOauthClientDetails.clientSecret != ''">
				AND client_secret = #{sysOauthClientDetails.clientSecret}
			</if>
			<if test="sysOauthClientDetails.scope != null and sysOauthClientDetails.scope != ''">
				AND scope = #{sysOauthClientDetails.scope}
			</if>
			<if test="sysOauthClientDetails.authorizedGrantTypes != null and sysOauthClientDetails.authorizedGrantTypes != ''">
				AND authorized_grant_types = #{sysOauthClientDetails.authorizedGrantTypes}
			</if>
			<if test="sysOauthClientDetails.webServerRedirectUri != null and sysOauthClientDetails.webServerRedirectUri != ''">
				AND web_server_redirect_uri = #{sysOauthClientDetails.webServerRedirectUri}
			</if>
			<if test="sysOauthClientDetails.authorities != null and sysOauthClientDetails.authorities != ''">
				AND authorities = #{sysOauthClientDetails.authorities}
			</if>
			<if test="sysOauthClientDetails.accessTokenValidity != null and sysOauthClientDetails.accessTokenValidity != ''">
				AND access_token_validity = #{sysOauthClientDetails.accessTokenValidity}
			</if>
			<if test="sysOauthClientDetails.refreshTokenValidity != null and sysOauthClientDetails.refreshTokenValidity != ''">
				AND refresh_token_validity = #{sysOauthClientDetails.refreshTokenValidity}
			</if>
			<if test="sysOauthClientDetails.additionalInformation != null and sysOauthClientDetails.additionalInformation != ''">
				AND additional_information = #{sysOauthClientDetails.additionalInformation}
			</if>
			<if test="sysOauthClientDetails.autoapprove != null and sysOauthClientDetails.autoapprove != ''">
				AND autoapprove = #{sysOauthClientDetails.autoapprove}
			</if>
		</where>
	</select>


</mapper>
