<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.daemon.mapper.ExecutionLogMappper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.pig4cloud.pigx.daemon.entity.ExecutionLog" id="executionLogMap">
        <id property="id" column="id"/>
        <result property="jobName" column="job_name"/>
        <result property="taskId" column="task_id"/>
        <result property="hostname" column="hostname"/>
        <result property="ip" column="ip"/>
        <result property="shardingItem" column="sharding_item"/>
        <result property="executionSource" column="execution_source"/>
        <result property="failureCause" column="failure_cause"/>
        <result property="isSuccess" column="is_success"/>
        <result property="startTime" column="start_time"/>
        <result property="completeTime" column="complete_time"/>
    </resultMap>


	<!--executionLog简单分页查询-->
	<select id="getExecutionLogPage" resultMap="executionLogMap">
		SELECT
		id,
		job_name,
		task_id,
		hostname,
		ip,
		sharding_item,
		execution_source,
		failure_cause,
		is_success,
		start_time,
		complete_time
		FROM job_execution_log
		<where>
			<if test="executionLog.id != null and executionLog.id != ''">
				AND id = #{executionLog.id}
			</if>
			<if test="executionLog.jobName != null and executionLog.jobName != ''">
				AND job_name = #{executionLog.jobName}
			</if>
			<if test="executionLog.taskId != null and executionLog.taskId != ''">
				AND task_id = #{executionLog.taskId}
			</if>
			<if test="executionLog.hostname != null and executionLog.hostname != ''">
				AND hostname = #{executionLog.hostname}
			</if>
			<if test="executionLog.ip != null and executionLog.ip != ''">
				AND ip = #{executionLog.ip}
			</if>
			<if test="executionLog.shardingItem != null and executionLog.shardingItem != ''">
				AND sharding_item = #{executionLog.shardingItem}
			</if>
			<if test="executionLog.executionSource != null and executionLog.executionSource != ''">
				AND execution_source = #{executionLog.executionSource}
			</if>
			<if test="executionLog.failureCause != null and executionLog.failureCause != ''">
				AND failure_cause = #{executionLog.failureCause}
			</if>
			<if test="executionLog.isSuccess != null and executionLog.isSuccess != ''">
				AND is_success = #{executionLog.isSuccess}
			</if>
			<if test="executionLog.startTime != null and executionLog.startTime != ''">
				AND start_time = #{executionLog.startTime}
			</if>
			<if test="executionLog.completeTime != null and executionLog.completeTime != ''">
				AND complete_time = #{executionLog.completeTime}
			</if>
		</where>
	</select>


</mapper>
